.bg{
    background-color: #35383A;
}

/* .content{ */
    /* border:solid 5px pink; */
    /* height: 80vh; */
/* } */

.row{
    height: 100%;
}

.gambar{
    /* border: solid red 1px; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.deskripsi{
    /* border: solid green 1px; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.picture{
    height: 500px;
    border-radius: 30px;
    /* border: #198754 5px ; */

}

/*  */